<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>

	<div id="app">
    <!-- Select the Chapter -->
    <div class="chapter-select">
			<input v-model:value="newChapter" v-bind:placeholder="chapter">
			<ul class="autocomplete-results">
				<li class="autocomplete-result">
				</li>
			</ul>
      <button v-on:click="fetchChapter">Go!</button>
		</div>
		<label class="switch">
			<input type="checkbox" v-model:value="vertical">
			<span class="slider round"></span>
		</label>
		<!-- Vertical Layout -->
		<div class="grid-container" v-bind:style="{ 'grid-template-columns': 'auto '.repeat(langs.length) }" v-if="vertical">
			<div class="lang-name" v-for="lang in langs">
				[[ titleCase(lang.name) ]]
			</div>
			<template v-for="[index ,verse] of langs[0].chapter.verses.entries()">
				<template v-for="lang in langs">
					<div>
						[[ (index + 1).toString() + " " + lang.chapter.verses[index] ]]
					</div>
				</template>
			</template>
		</div>
		<!-- Horizontal Layout -->
		<div class="grid-container" v-bind:style="{ 'grid-template-columns': 'auto '.repeat(langs[0].chapter.verses.length + 1) }" v-if="!vertical">
			<template v-for="lang in langs">
				<div class="lang-name">
					[[ lang.name ]]
				</div>
				<div class="verse" v-for="verse in lang.chapter.verses">
					[[ verse ]]
				</div>
			</template>
		</div>
	</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
